@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Catamaran';

  font-display: swap;
  src: url("../fonts/Catamaran-Regular.woff2") format("woff2"), url("../fonts/Catamaran-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Catamaran';

  font-display: swap;
  src: url("../fonts/Catamaran-Medium.woff2") format("woff2"), url("../fonts/Catamaran-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Catamaran';

  font-display: swap;
  src: url("../fonts/Catamaran-SemiBold.woff2") format("woff2"), url("../fonts/Catamaran-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Catamaran';

  font-display: swap;
  src: url("../fonts/Catamaran-Bold.woff2") format("woff2"), url("../fonts/Catamaran-Bold.woff") format("woff");
}


