:root {
  /* -- Fonts --*/
  --font-family: 'Catamaran';    //       font-family: var(--font-family);
  // --font-family2: "Khand", sans-serif;
  // --font-family3: "Rubik", sans-serif;

  // text color

  --color-a: #fff;
  --color-b: #163561;   //     var(--color-b);
  --color-c: #FBB400;

  --color-d: #153461;
  // --color-e: #576477;
  // --color-f: #FDCB1E;


//   btn

  --btn-color: #99BAED; //     var(--btn-color);

  // // bg

  --service-bg: #FAFBFF;;
  // --about-bg: #1a1f2c;
  // --about-bg-alt: #10131c;
  // --team-bg: #151924;

  // --about-round-color: #472880;

  // --other-game-bg: #0c121c;

  // // Element color

  // --circle-a: #653278;
}
